$lightColor: #cbccf9;
$second: #e0dff2;
$third: #cdc1ff;
$fourth: #a594f9;
$dark: #3e4684;

$specaillight: #f1f7fe;
$specialsecond: #dde5f4;
// $lightColor: #caa8f5;
// $second: #9984d4;
// $third: #592e83;
// // $fourth: #a594f9;
// $dark: #230c33;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@mixin borderHigh {
  border-radius: 24px;
}
@mixin borderLow {
  border-radius: 12px;
}
.login {
  width: 100vw;
  height: 100vh;
  background-color: $specialsecond;

  @include flex();


  img{
    width: 35%;

  }
  .container {
    width: 35%;
    height: 80%;
    background: $specaillight;
    color: $dark;
    font-weight: 700;
    @include borderHigh();
    @include flex();
    flex-direction: column;
    align-items: center;
    gap: 23px;
    animation: bounce-scale 0.8s;
    box-shadow: 2px 2px 10px rgb(167, 175, 210);
    input {
      width: 130%;
      padding: 12px;
      border: 0.1px solid rgba(212, 212, 212, 0.514);
      outline: none;
      @include borderLow();
      font-size: 16px;
      transition: all cubic-bezier(0.25, 1.1, 0.25, 5) 0.3s;
      animation: bounce-scale 0.8s;

      &:focus {
        scale: 1.1;
        background: $specialsecond;
      }
    }

    label {
      @include flex();
      flex-direction: column;
      gap: 2px;
      font-size: 18px;
    }

    button {
      background: $dark;
      color: $specaillight;
      padding: 10px 20px;
      border: none;
      font-size: 19px;
      cursor: pointer;
      @include borderLow();
      animation: bounce-scale 0.8s;
    }
  }

  @media (max-width: 800px) {
    .container {
      width: 60%;
    }
  }

  @keyframes bounce-scale {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.2);
    }
    60% {
      transform: scale(1.1);
    }
  }

  #formBase {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin: 20px 0 0 0;

    p {
      font-weight: 100;
    }
  }
}
